<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Login</title>
</head>
<body>
    <h1>Manager Login page</h1>
    <a href = "{% url 'home' %}">Back<br></a>
    <a href = "{% url 'manager_app' %}">Create new manager account</a>

    <p>Once manager login is success <br>
        <a href = "{% url 'loan' %}">Requested loans from user</a>
    </p>
    
    
</body>
</html>